@use "Style/Abstract/Abstract.scss" as *;

.select-box-input {
  padding: {
    left: 16px;
    right: 16px;
    top: 10px;
    bottom: 10px;
  }
  width: inherit;
  background-color: $backgroundColor;

  color: $whiteColor;

  -webkit-appearance: none;
  -moz-appearance: none;

  background: {
    image: url("/Graphics/Select\ Icon.svg");
    position: right 16px center;
    size: 10px 15px;
    repeat: no-repeat;
  }

  font: {
    family: "Coolvetica";
    size: 1em;
  }

  border: {
    style: solid;
    width: 1px;
    color: #000;
    radius: 20px;
  }
}
