@use "style/Abstract/Abstract.scss" as *;

.select-box-input {
  padding: 10px;
  width: inherit;
  background-color: #222;

  color: white;

  -webkit-appearance: none;
  -moz-appearance: none;

  background: {
    image: url("/graphics/Select\ Icon.svg");
    position: right 6px center;
    size: 10px 15px;
    repeat: no-repeat;
  }

  font: {
    family: "Coolvetica";
    size: 1em;
  }

  border: {
    style: solid;
    width: 1px;
    color: #000;
    radius: 20px;
  }
}
