@use "Style/Abstract/Abstract.scss" as *;

.select-box-input {
  //SASS
  @include prevent-appearance;

  //Box model
  border: 1px solid #000;
  border-radius: 20px;

  width: inherit;
  padding: 10px 16px;

  //Background
  background: {
    image: url("/Graphics/Select\ Icon.svg");
    position: right 16px center;
    size: 10px 15px;
    repeat: no-repeat;
    color: $backgroundColor;
  }

  //Type
  font: {
    family: "Coolvetica";
    size: 1em;
  }

  color: $whiteColor;

  //Pseudo
  &:focus {
    outline: 2px $mainColor solid;
  }

  &:focus-visible {
    outline: 2px $mainColor solid;
  }
}
