$mainColor: #5cd7d7;
$mainColorWhite: #b5f8f8;
$whiteColor: #f9fdff;
$placeholderColor: #8f9597;
$appBackgroundColor: #25282c; //#146fe8;
$backgroundColor: #25282c; //#25282c;
$mediumBackgroundColor: #494e57;
$lightBackgroundColor: #53585e;
$lighterBackgroundColor: #727981;
$lighterLighterBackgroundColor: #929ba5;
$secondColor: #6dc2c8;
