@font-face {
  font-family: "Beleren";
  src: local("Beleren"),
    url("../Font/beleren/Beleren2016-Bold.ttf") format("TrueType");
}

@font-face {
  font-family: "Coolvetica";
  src: local("Coolvetica"),
    url("../Font/coolvetica/coolvetica\ rg.otf") format("OpenType");
}

@font-face {
  font-family: "Fira Sans";
  src: url("../Font/fira\ sans/FiraSans-Medium.ttf") format("TrueType");
}