@use "Style/Abstract/abstract.scss" as *;

.search-bar {
  //Layout
  grid-template-columns: auto min-content;
  align-items: center;

  //Display
  display: grid;

  //Box model
  border: solid 1px #000;
  border-radius: 25px;

  height: min-content;
  width: inherit;

  padding: 10px 16px;

  //Background
  background-color: $backgroundColor;

  //Pseudo
  &:has(> input:focus) {
    outline: 2px $mainColor solid;
  }

  > input {
    //Box model
    width: inherit;
    border: none;

    //Background
    background-color: #0000;

    //Typo
    color: $whiteColor;

    font: {
      family: "Coolvetica";
      size: 1.2em;
    }

    //Pseudo
    &:focus {
      outline: none;
    }

    &::placeholder {
      @include prevent-select();
      color: $placeholderColor;
    }
  }
}

.search-icon {
  //Box model
  margin-left: 5px;
  height: 20px;
}
