@use "Style/Abstract/abstract.scss" as *;

.search-bar {
  height: min-content;
  width: inherit;
  padding: {
    left: 16px;
    right: 16px;
    top: 10px;
    bottom: 10px;
  }

  display: grid;

  grid-template: {
    columns: auto min-content;
  }

  align-items: center;

  background-color: $backgroundColor;

  border: {
    style: solid;
    width: 1px;
    color: #000;
    radius: 25px;
  }

  > input {
    background-color: #0000;
    border: 0px;
    color: $whiteColor;

    font: {
      family: "Coolvetica";
      size: 1.2em;
    }

    &:focus {
      outline: none;
    }

    &::placeholder {
      color: $placeholderColor;
      @include prevent-select();
    }
  }

  > img {
    height: 20px;
    margin-left: 5px;
  }
}
