@use "Style/Abstract/abstract.scss" as *;
@use "sass:color";

.window {
  display: flex;
  width: 100%;
  overflow-x: overlay;
  overflow-y: hidden;
  border-radius: 10px;
  margin: 10px 0 0px 0;

  > section {
    margin-bottom: 10px;
    padding-bottom: 10px;
  }
}

.first {
  margin: 0px 5px 0px 0px !important;
}

.last {
  margin: 0px 10px 0px 5px !important;
}

.panel {
  //Box model
  //border: 1px solid black;
  margin: 0px 5px;
  border-radius: 10px;
  height: 100%;
  width: 340px;

  //Background
  background: linear-gradient(
    $backgroundColor,
    color.adjust($backgroundColor, $lightness: 10%)
  );

  //Typo
  text-align: right;
}

.panel-header {
  @include center-grid;

  grid-template-columns: auto auto;

  background-color: $lightBackgroundColor;

  border-radius: 10px 10px 0 0;

  height: 3.5rem;

  padding: {
    left: 10px;
    right: 10px;
  }

  font-size: 1.8em;
  color: white;

  &-input {
    //Box model
    border: 0;
    width: 100%;

    //Background
    background-color: $lightBackgroundColor;

    //Type
    color: white;
    text-align: right;

    font: {
      family: "Beleren";
      size: 1.2em;
    }

    //Pseudo
    &:focus {
      outline: none;
    }
  }
}

.panel-add {
  //Sass
  @include center-flex;

  //Box model
  margin: 0px 10px 0px 5px;
  border-radius: 10px;
  width: 300px;
  height: calc(100% - 25px);

  //Background
  background: linear-gradient(
    $lightBackgroundColor,
    color.adjust($lightBackgroundColor, $lightness: 15%)
  );
}

.panel-add-container {
  //Sass
  @include center-grid;

  width: inherit;

  //Layout
  grid-template-columns: auto auto;

  //Pseudo
  > button {
    //Sass
    @include center-flex;

    //Animation
    transition: background-color 0.1s ease-out;

    //Box model
    margin: 5px;

    border: none;
    border-radius: 5px;

    width: 60px;
    height: 60px;
    box-sizing: content-box;

    padding: 10px;

    //Background
    background-color: $mediumBackgroundColor;
    cursor: pointer;

    //Pseudo
    &:hover {
      //Background
      background-color: $lightBackgroundColor;
    }

    > img {
      height: 50px;
      width: auto;
    }
  }
}

.box-selector {
  width: 1em;
  height: 1em;

  background-color: black;

  border-radius: 5px;
}
