$red: #EC4224;
$green: #027C49;
$black: #55524A;
$white: #F0E9E0;
$blue: #2780B4;
$uncolor: #969F9E;
$gold: #efd67a;

$redLight: #F6B09A;
$greenLight: #AECEBC;
$blackLight: #A29C98;
$whiteLight: #F0E9E0;
$blueLight: #83BAD8;
$uncolorLight: #CAD3D2;
$goldLight: #D6BE73;

$redGradient: linear-gradient(#ffc3b1, #cc917f);
$greenGradient: linear-gradient(#d0eddc, #92ad9e);
$blackGradient: linear-gradient(#c9c1bb, #787370);
$whiteGradient: linear-gradient(#fcf8f2, #cbc4bc);
$blueGradient: linear-gradient(#96d7f9, #6d9ab2);
$uncolorGradient: linear-gradient(#e8f4f2, #a5acab);
$goldGradient: linear-gradient(#f7db86, #ae9a5f);
