@use "Abstract/abstract.scss" as *;

body{
    overflow-y: hidden;
}

*{
    padding: 0;
    margin: 0;
}

main{
    height: 100vh;
    width: fit-content;
    
    display: flex;
    
    background-color: darkgray;
    
    font-family: 'Beleren';
}

section{
    width: fit-content;
    display: flex;
}

.panel-header{
    height : 4rem;

    display: grid;

    grid-template-columns: auto auto;

    align-items: center;

    background-color: #444;

    padding: {
        top: 0.2em;
        left: 10px;
        right: 10px;
    }

    font-size: 1.8em;

    color: white;
}

.panel{
    width: 400px;

    background-color: #222;

    border: {
        style: solid;
        color: black;
        width: 1px;
    }

    text-align: right;
}

.box-selector{
    width: 40px;
    height: 40px;

    background-color: black;
    
    border-radius: 5px;
    
}
