@use "Style/Abstract/abstract.scss" as *;

.form {
  //Box model
  width: 97%;
  padding: 0 1.5%;

  border-bottom: 1px solid black;

  > section {
    //Display
    display: flex;

    //Box model
    margin: 1.5% 0;
    width: 100%;

    > * {
      //Box model
      margin: 0 1%;
    }
  }
}
