@use "style/Abstract/Abstract.scss" as *;

.search-bar{
    height: min-content;

    padding: 10px;

    display: grid;

    grid-template: {
        columns: auto min-content;
    }

    align-items: center;

    background-color: #222;

    border: {
        style: solid;
        width: 1px;
        color: #000;
        radius: 20px;
    };

    > input{
        background-color: #0000;
        border: 0px;
        color: white;

        font: {
            family: 'Coolvetica';
            size: 1.2em;
        }

        &:focus{
            outline: none;
        }

        &::placeholder {
            color: #666;
            @include prevent-select();
        }
    }

    > img{
        height: 20px;
        margin-left: 5px;
    }
}